<div id="icon-column">
    <div class="icon" id="home" title="Home">
        <a href="index.html"><img src="images/icons/computer.png" alt="Computer Icon"></a>
        <span>Home</span>
    </div>
    <div class="icon" id="recycle-bin" title="Recycle Bin">
        <img id="recycle-bin-icon" src="images/icons/recycle_bin_empty.png" alt="Recycle Bin Icon">
        <span>Recycle Bin</span>
    </div>
    <div class="icon" id="my-github" title="Github">
        <a href="https://github.com/JermNet"><img src="images/icons/world.png" alt="World Icon"></a>
        <span>My GitHub</span>
    </div>
    <div class="icon" id="youtube-videos" title="Commentaries">
        <a href="https://www.youtube.com/@JeremyWCoding"><img src="images/icons/camera_vid.png"></a>
        <span>My YouTube</span>
    </div>
    <div class="icon" id="linkedin" title="LinkedIn">
        <a href="http://www.linkedin.com/in/jeremy-whitenect-prog"><img src="images/icons/satellite.png"></a>
        <span>My LinkedIn</span>
    </div>
    <div class="icon" id="cool-projects" title="Projects">
        <a href="non-personal-projects.html"><img src="images/icons/console_prompt.png" alt="Console Prompt Icon"></a>
        <span>Non-Personal Projects</span>
    </div>
    <div class="icon" id="fun-things" title="Fun">
        <a href="fun.html"><img src="images/icons/movie_maker.png" alt="Movie Maker Icon"></a>
        <span>Fun Things</span>
    </div>
    <div class="icon" id="vital-documents" title="Documents">
        <a href="documents.html"><img src="images/icons/briefcase.png"></a>
        <span>Vital Documents</span>
    </div>
    <div class="icon" id="contact-me" title="Contact">
        <a href="contact.html"><img src="images/icons/modem.png"></a>
        <span>Contact Me</span>
    </div>
    <!--<div class="icon" id="minesweeper" title="Minesweeper">
        <img src="images/icons/minesweeper.png" alt="Minesweeper Icon">
        <span>Minesweeper</span>
    </div>-->
    <div class="icon" id="credits" title="Credits">
        <a href="credits.html"><img src="images/icons/notepad.png" alt="Notepad Icon"></a>
        <span>Credits</span>
    </div>
</div>