<div class="search-bar">
    <label for="page-select">Search:</label>
    <select id="page-select" onchange="navigateToPage()">
        <option value="">Select a page or stay here</option>
        <option value="index.html">Home</option>
        <option value="https://github.com/JermNet">My GitHub</option>
        <option value="https://www.youtube.com/@JeremyWCoding">My YouTube</option>
        <option value="https://www.linkedin.com/in/jeremy-whitenect-prog/">My LinkedIn</option>
        <option value="projects.html">Cool Projects</option>
        <option value="fun.html">Fun Things</option>
        <option value="documents.html">Vital Documents</option>
        <option value="contact.html">Contact Me</option>
        <option value="credits.html">Credits</option>
    </select>
</div>