<div class="start-bar">
    <div class="start-button" id="sound-button">
        <img src="images/icons/cd_audio.png" alt="CD Icon">
        <span>Start</span>
    </div>
    <a href="index.html" class="a-button">
        <div class="start-button">
            <img src="images/icons/computer.png" alt="Computer Icon">
            <span>Home</span>
        </div>
    </a>
    <a href="https://github.com/JermNet" class="a-button">
        <div class="start-button">
            <img src="images/icons/world.png" alt="World Icon">
            <span>My GitHub</span>
        </div>
    </a>
    <a href="https://www.youtube.com/@JeremyWCodind" class="a-button">
        <div class="start-button">
            <img src="images/icons/camera_vid.png">
            <span>My YouTube</span>
        </div>
    </a>
    <a href="http://www.linkedin.com/in/jeremy-whitenect-prog" class="a-button">
        <div class="start-button">
            <img src="images/icons/satellite.png">
            <span>My LinkedIn</span>
        </div>
    </a>
    <a href="non-personal-projects.html" class="a-button">
        <div class="start-button">
            <img src="images/icons/console_prompt.png" alt="Console Prompt Icon">
            <span>Non-Personal Projects</span>
        </div>
    </a>
    <a href="personal-projects.html" class="a-button">
        <div class="start-button">
            <img src="images/icons/movie_maker.png" alt="Movie Maker Icon">
            <span>Personal Projects</span>
        </div>
    </a>
    <a href="documents.html" class="a-button">
        <div class="start-button">
            <img src="images/icons/briefcase.png">
            <span>Vital Documents</span>
        </div>
    </a>
    <a href="contact.html" class="a-button">
        <div class="start-button">
            <img src="images/icons/modem.png">
            <span>Contact Me</span>
        </div>
    </a>
    <a href="credits.html" class="a-button">
        <div class="start-button">
            <img src="images/icons/notepad.png">
            <span>Credits</span>
        </div>
    </a>
</div>