<div class="start-bar">
    <div class="start-button" id="sound-button">
        <img src="images/icons/cd_audio.png" alt="CD Icon">
        <span>Start</span>
    </div>
    <a href="projects.html#android-project-window-id" class="a-button">
        <div class="start-button">
            <img src="images/icons/android_icon.png" alt="Android Icon">
            <span>Android</span>
        </div>
    </a>
    <a href="projects.html#spring-boot-project-window-id" class="a-button">
        <div class="start-button">
            <img src="images/icons/spring_boot_icon.png" alt="Spring Boot Icon">
            <span>Spring Boot</span>
        </div>
    </a>
    <a href="projects.html#css3-project-window-id" class="a-button">
        <div class="start-button">
            <img src="images/icons/css3_icon.png" alt="CSS Icon">
            <span>CSS</span>
        </div>
    </a>
    <a href="projects.html#python-project-window-id" class="a-button">
        <div class="start-button">
            <img src="images/icons/python_icon.png" alt="Python Icon">
            <span>Python</span>
        </div>
    </a>
    <a href="fun.html#vnds-project-window-id" class="a-button">
        <div class="start-button">
            <img src="images/icons/vnds_icon.png" alt="vnds Icon">
            <span>vnds</span>
        </div>
    </a>
    <a href="fun.html#vscode-extension-project-window-id" class="a-button">
        <div class="start-button">
            <img src="images/icons/vscode_icon.png" alt="VSCode Icon">
            <span>VSCode</span>
        </div>
    </a>
</div>